body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    
}
    
header{
    display: flex;

    align-items: center;

    width: 100%;
    height: 70px;
    background-color: #14244C;
}
.header-logo img{
    width: 170px;
    height: 50px;
}

.user img{
    width: 40px;
    height: 40px;

    padding-right: 10px;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 10px 0px 10px;
}

nav{
    display: flex;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    color: white;

    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.user{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;

    
    font-size: 20px;
    font-weight: 500;
    color: white;
}


section{
    background-color: #14244C;
    width: 100%;
    height: 700px;

    border-radius: 30px 20px 0px 0px;

    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title, .main-title_fixnow{
    margin: 0;
    font-weight: 700;
    color: black;
}

.main-title{
    margin-top: 70px;
}
.main-title_fixnow{
    color: #0056F5;
}

article{
    width: 500px;
    height: 500px;
    color: white;
}

.content{
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px
}


.machine{
    background-color: rgb(184, 184, 184);
    width: 100%;
    height: 40px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px
  
}

.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.info-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccbcb;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
}

.status-active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67B588;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    padding: 0px 5px 0px 5px; 
    margin: 0px 5px 0px 5px;
}

.machine p {
    padding: 10px;
    font-weight: 700;
}

.button-export {
    align-items: center;
    justify-content: center;
    background-color: #0096d7;
    border-radius: 30px;
    width: 50%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #f1f1f1;
}